#view-highscores {
    position: absolute;
    top: 10px;
    left: 10px;
}

#timer {
    position: absolute;
    right: 10px;
    top: 10px;
}

#buttons-group {
    padding: 0;
    margin-left: 50%;
}

.container {
    margin-top: 8%;
}